<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339390191616-ssil9skk1scj4n75fu5rj3k167d4lo52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339390191616-ssil9skk1scj4n75fu5rj3k167d4lo52</string>
	<key>API_KEY</key>
	<string>AIzaSyD9hzyrlCoWeYKSWhb6fhW56XkPRh-9nD4</string>
	<key>GCM_SENDER_ID</key>
	<string>339390191616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahrukh.Social</string>
	<key>PROJECT_ID</key>
	<string>social-a0783</string>
	<key>STORAGE_BUCKET</key>
	<string>social-a0783.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339390191616:ios:f35ffe35749851df4da0e5</string>
	<key>DATABASE_URL</key>
	<string>https://social-a0783.firebaseio.com</string>
</dict>
</plist>